altgraph
backports.entry-points-selectable
brotlipy
certifi
click
colorama
conda
distlib
filelock
Flask
future
gunicorn
itsdangerous
Jinja2
MarkupSafe
menuinst
numpy
pefile
pipenv
platformdirs
pycosat
pyinstaller
pyinstaller-hooks-contrib
pywin32
pywin32-ctypes
virtualenv
virtualenv-clone
Werkzeug
wincertstore
gunicorn
