altgraph==0.17.2
backports.entry-points-selectable==1.1.0
brotlipy==0.7.0
certifi==2021.5.30
click==8.0.1
colorama==0.4.4
conda==4.10.3
distlib==0.3.3
filelock==3.3.0
Flask==2.0.2
future==0.18.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
menuinst==1.4.16
numpy==1.21.2
pefile==2021.9.3
pipenv==2021.5.29
platformdirs==2.4.0
pycosat==0.6.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pywin32==228
pywin32-ctypes==0.2.0
virtualenv==20.8.1
virtualenv-clone==0.5.7
Werkzeug==2.0.2
wincertstore==0.2
