<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./my-form.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='static/Chart.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Home Page</title>

</head>
<h1>RUNWAY SYSTEM CAPACITY ASSESSMENT TOOL</h1>
<body>
    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="col-12 inputcat">
                    <h5>Aircraft Mix Inputs</h5>
                </div>
                <div class="mb-3 col-4">
                   
                    <input placeholder="Enter % of CAT J" type="text" id="J" name="J" class="form-control">
                </div>
                <div class="mb-3 col-4">
                    
                    <input placeholder="Enter % of CAT H" type="text" id="H" name="H" class="form-control">    
                </div>
                    <div class="mb-3 col-4">
                   
                    <input placeholder="Enter % of CAT M" type="text" id="M" name="M" class="form-control">
                </div>
                <div class="mb-3 col-4" >
                    
                    <input placeholder="Enter % of CAT L" type="text" id="L" name="L" class="form-control">
                </div>
                <div class="mb-3 col-4">
                   
                    <input placeholder="Enter % of class A" type="text" id="A" name="A" class="form-control">
                </div>
                <div class="mb-3 col-4">
                    
                    <input placeholder="Enter % of class B" type="text" id="B" name="B" class="form-control">
                </div>
                <div class="mb-3 col-4">    
                    
                    <input placeholder="Enter % of class C" type="text" id="C" name="C" class="form-control">
                </div>
                <div class="mb-3 col-4">  
                    
                    <input placeholder="Enter % of class D" type="text" id="D" name="D" class="form-control">
                </div>     
                <div class="mb-3 col-4">   
                   <input placeholder="Enter % of class E" type="text" id="E" name="E" class="form-control">
                </div>     
            </div>        
            <div class="row">        
                <div class="col-12 inputcat">
                    <h5/h5>Runway Occupancy Time Inputs</h5>
                </div>
                <div class="mb-3 col-4">    
                    <input placeholder="Enter ROT of class A" type="text" id="ROT1" name="ROT1" class="form-control">
                </div>
                <div class="mb-3 col-4"> 
                    <input placeholder="Enter ROT of class B" type="text" id="ROT2" name="ROT2" class="form-control">
                </div>
                <div class="mb-3 col-4">   
                    <input placeholder="Enter ROT of class C" type="text" id="ROT3" name="ROT3" class="form-control">
                </div>
                <div class="mb-3 col-4">
                   <input placeholder="Enter ROT of class D" type="text" id="ROT4" name="ROT4" class="form-control">
                </div>
                <div class="mb-3 col-4">
                    <input placeholder="Enter ROT of class E" type="text" id="ROT5" name="ROT5" class="form-control">
                </div>
            </div>    
            <div class="row">        
                <div class="col-12 inputcat">
                    <h5/h5>Procedures Inputs</h5>
                </div>
                <div class="mb-3 col-4">    
                   <input placeholder="Enter approach separation minima" type="text" id="S" name="S" class="form-control">
                </div>
                <div class="mb-3 col-4">
                   <input placeholder="Enter OM-THR distance" type="text" id="w" name="w" class="form-control">
                </div>
                <div class="mb-3 col-4">
                   <input placeholder="Enter final appraoch segment length" type="text" id="l" name="l" class="form-control">
                </div>
            </div>
            <input type="submit" class="btn btn-success">
         </form>
    </div> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>